<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
  <div class="container">
    <img id="logo" class="navbar-brand" src="../assets/images/github.svg" alt=""> <a class="navbar-brand text-white"
      routerLink='/my-github' routerLinkActive='active'>GITHUB PROFILE SEARCH</a>
    <div id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="profile"><a routerLink='/profile' routerLinkActive='active'>Profile</a></li>
        <br>
        <li class="search"><a routerLink='/search' routerLinkActive='active'>Search</a></li>
      </ul>
  </div>
</div>
</nav>
<router-outlet></router-outlet>



